body {
    background-color: #777777;
    content: #ebebeb;
}

.container {
    font-family: Arial,'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    width: 960px;
    margin: 0 auto;
}


header {
    background-color: #cccbcb;
    height: 100px;
    text-align: center;
    color: #777777;
    line-height: 100px;
}

nav {
    background-color: #cccbcb;
    height: 100px;
    text-align: center;
    color: #777777;
    line-height: 100px;
    margin: 10px 0 0 0;
}

section {
    background-color: #cccbcb;
    width: 495px;
    text-align: center;
    color: #777777;
    margin: 20px 0 20px 0;
    float: left;
    height: 300px;
    padding: 40px 0 0 0;

}


article {
    background-color: #777777;
    margin: 40px 10px 10px 10px;
    color: #cccbcb;
    height: 190px;
    padding: 20px;
}

.headers {
    background-color: #cccbcb;
    color: #777777;
    width: 425px;
    margin: 30px 10px 10px 5px;
    height: 65px;
    line-height: 70px;
    font-weight: bold;
}

p {
    background-color: #cccbcb;
    color: #777777;
    width: 425px;
    margin: 10px 10px 10px 5px;
    height: 65px;
    line-height: 60px;
}

aside {
    background-color: #cccbcb;
    text-align: center;
    color: #777777;
    height: 300px;
    margin: 20px 0 10px 10px;
    float: right;
    width: 445px;
    padding: 40px 0 0 0;
}

footer{
    clear: both;
    background-color: #cccbcb;
    height: 100px;
    text-align: center;
    color: #777777;
    line-height: 100px;
    margin: 10px 0 0 0;
}